<nav class="nav-container">
  <div class="logo">
    <h2><span>Dash</span>board</h2>
  </div>

  <div class="search-wrapper">
    <input
      class="search"
      type="search"
      name=""
      id=""
      placeholder="Search your task here..."
    />
    <button>
      <lucide-icon
        name="search"
        color="#fff"
        size="18px"
      />
    </button>
  </div>

  <div class="info">
    <div class="icons">
      <div class="icon-wrapper">
        <lucide-icon
          name="bell"
          color="#fff"
          size="18px"
        />
      </div>
      <div class="icon-wrapper">
        <lucide-icon
          name="calendar-days"
          color="#fff"
          size="18px"
        />
      </div>
    </div>

    <div class="date-time">
      <span class="day">Tuesday</span>
      <span class="date">24/10/2024</span>
    </div>
  </div>
</nav>
