<div class="container">
  <div class="flex-column">
    <div class="content">
      <div class="task-header">
        <h3>
          {{title}}
        </h3>
        <p>{{description}}</p>
      </div>

      <div class="image-content">
        <img
          src="{{image}}"
          alt="picture selected by user"
        />
      </div>
    </div>

    <div class="task-footer">
      <p>Priority: {{priority}}</p>
      <p>Status: {{status}}</p>
      <p>Created on: {{createdOn}}</p>
    </div>
</div>
</div>
