<app-header></app-header>
<app-menu></app-menu>

<div class="template">
  <div class="content-wrapper">
    <div class="content-tasks">
      <span class="header">Vital Tasks</span>

      <div class="task flex-column">
        <app-card-task
          [title]="'Attend Nischal’s Birthday Party'"
          [description]="'Buy gifts on the way and pick up cake from the bakery. (6 PM | Fresh Elements)akjdhaihdiahd'"
          [image]="'https://plus.unsplash.com/premium_photo-1728487571427-71cdb56737b4?q=80&w=2573&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
          [priority]="'Modarate'"
          [status]="'Not Started'"
          [createdOn]="'24/10/2024'"
        />
        <app-card-task
          [title]="'Attend Nischal’s Birthday Party'"
          [description]="'Buy gifts on the way and pick up cake from the bakery. (6 PM | Fresh Elements)akjdhaihdiahd'"
          [image]="'https://plus.unsplash.com/premium_photo-1728487571427-71cdb56737b4?q=80&w=2573&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
          [priority]="'Modarate'"
          [status]="'Not Started'"
          [createdOn]="'24/10/2024'"
        />
        <app-card-task
          [title]="'Attend Nischal’s Birthday Party'"
          [description]="'Buy gifts on the way and pick up cake from the bakery. (6 PM | Fresh Elements)akjdhaihdiahd'"
          [image]="'https://plus.unsplash.com/premium_photo-1728487571427-71cdb56737b4?q=80&w=2573&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
          [priority]="'Modarate'"
          [status]="'Not Started'"
          [createdOn]="'24/10/2024'"
        />
        <app-card-task
          [title]="'Attend Nischal’s Birthday Party'"
          [description]="'Buy gifts on the way and pick up cake from the bakery. (6 PM | Fresh Elements)akjdhaihdiahd'"
          [image]="'https://plus.unsplash.com/premium_photo-1728487571427-71cdb56737b4?q=80&w=2573&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
          [priority]="'Modarate'"
          [status]="'Not Started'"
          [createdOn]="'24/10/2024'"
        />
      </div>
    </div>

    <div class="content-task-detail">
      <span class="header">Vital Tasks</span>

      <div class="task flex-column">

      </div>
    </div>
  </div>
</div>
