<app-header></app-header>
<app-menu></app-menu>

<div class="template">
  <div class="content-wrapper">
    <div class="content-tasks">
      <span class="header">Vital Tasks</span>

      <div class="task flex-column">
        <app-card-task
          [title]="'Attend Nischal’s Birthday Party'"
          [description]="'Buy gifts on the way and pick up cake from the bakery. (6 PM | Fresh Elements)akjdhaihdiahd'"
          [image]="'https://plus.unsplash.com/premium_photo-1728487571427-71cdb56737b4?q=80&w=2573&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
          [priority]="'Modarate'"
          [status]="'Not Started'"
          [createdOn]="'24/10/2024'"
        />
        <app-card-task
          [title]="'Attend Nischal’s Birthday Party'"
          [description]="'Buy gifts on the way and pick up cake from the bakery. (6 PM | Fresh Elements)akjdhaihdiahd'"
          [image]="'https://plus.unsplash.com/premium_photo-1728487571427-71cdb56737b4?q=80&w=2573&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
          [priority]="'Modarate'"
          [status]="'Not Started'"
          [createdOn]="'24/10/2024'"
        />
        <app-card-task
          [title]="'Attend Nischal’s Birthday Party'"
          [description]="'Buy gifts on the way and pick up cake from the bakery. (6 PM | Fresh Elements)akjdhaihdiahd'"
          [image]="'https://plus.unsplash.com/premium_photo-1728487571427-71cdb56737b4?q=80&w=2573&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
          [priority]="'Modarate'"
          [status]="'Not Started'"
          [createdOn]="'24/10/2024'"
        />
        <app-card-task
          [title]="'Attend Nischal’s Birthday Party'"
          [description]="'Buy gifts on the way and pick up cake from the bakery. (6 PM | Fresh Elements)akjdhaihdiahd'"
          [image]="'https://plus.unsplash.com/premium_photo-1728487571427-71cdb56737b4?q=80&w=2573&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'"
          [priority]="'Modarate'"
          [status]="'Not Started'"
          [createdOn]="'24/10/2024'"
        />
      </div>
    </div>

    <div class="content-task-detail">
      <div class="task-actions">
        <button>
          <lucide-icon
            class="remove-lh"
            name="trash-2"
            color="#fff"
            size="18px"
          />
        </button>
        <button>
          <lucide-icon
            class="remove-lh"
            name="sticky-note"
            color="#fff"
            size="18px"
          />
        </button>
      </div>
      <div class="task flex-column">
        <div class="task-detail-header">
          <img
            src="https://plus.unsplash.com/premium_photo-1728487571427-71cdb56737b4?q=80&w=2573&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="task picture"
          />
          <div class="task-info">
            <h4>Attend Nischal’s Birthday Party</h4>
            <div class="flex-column gap-sm">
              <span>Priority: Extreme</span>
              <span>Status: Not Started</span>
              <span class="created-on">Created on: 24/10/2024</span>
            </div>
          </div>
        </div>
        <div class="task-detail">
          <span>
            Take the dog to the park and bring treats as well.
            <br/>
            <br/>
            Take Luffy and Jiro for a leisurely stroll around the neighborhood. Enjoy the fresh air and give them the exercise and mental stimulation they need for a happy and healthy day. Don't forget to bring along squeaky and fluffy for some extra fun along the way!
            <br/>
            <br/>
            1. Listen to a podcast or audiobook
            <br/>
            2. Practice mindfulness or meditation
            <br/>
            3. Take photos of interesting sights along the way
            <br/>
            4. Practice obedience training with your dog
            <br/>
            5. Chat with neighbors or other dog walkers
            <br/>
            6. Listen to music or an upbeat playlist
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
