@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background: #F5F8FF;
}

// remove line height
.remove-lh {
  line-height: 0;
}

// template default
.template {
  position: absolute;
  top: 160px;
  right: 32px;
  bottom: 32px;
  left: 350px;
  padding: 1rem;
  color: #000;
  min-height: calc(100vh - 212px);
}

// containers wrapper
.session {
  padding: 1rem;
  width: 100%;
  height: 100%;
  background-color: #F5F8FF;
  border: 1px solid #a1a3ab2c;
  border-radius: 14px;
  // box-shadow: 0 0px 12px #00000010;
  overflow: auto;
}

.session-half {
  display: block;
  padding: 1rem;
  width: 100%;
  height: 75%;
  background-color: #F5F8FF;
  border: 1px solid #a1a3ab2c;
  border-radius: 14px;
  // box-shadow: 0 0px 12px #00000010;
  overflow: hidden;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.gap-sm {
  gap: 6px;
}
.gap-md {
  gap: 16px;
}

.overflow-auto {
  overflow: auto;
}
