<app-header />
<app-menu />

<div class="template">
  <div class="session shadow">
    <div class="section">
      <h4 class="header">Change Password</h4>
      <button routerLink="/settings">Go back</button>
    </div>

    <div class="user-info">
      <img
        src="https://github.com/caiohfreire.png"
        alt="user picture profile"
      />
      <div class="personal-info">
        <span class="name">Caio Freire</span>
        <span class="email">caio.freire&#64;icloud.com</span>
      </div>
    </div>

    <div class="form">
      <div class="form-input">
        <label for="currentPassword">Current Password</label>
        <input
          pInputText
          class="input"
          id="currentPassword"
          aria-describedby="currentPassword-help"
          [(ngModel)]="currentPassword"
        />
      </div>
      <div class="form-input">
        <label for="newPassword">New Password</label>
        <input
          pInputText
          class="input"
          id="newPassword"
          aria-describedby="newPassword-help"
          [(ngModel)]="newPassword"
        />
      </div>
      <div class="form-input">
        <label for="confirmPassword">Confirm Password</label>
        <input
          pInputText
          class="input"
          id="confirmPassword"
          aria-describedby="confirmPassword-help"
          [(ngModel)]="confirmPassword"
        />
      </div>

      <div class="form-actions">
        <button>Update Password</button>
        <button routerLink="/settings">Cancel</button>
      </div>
   </div>
  </div>
</div>
