.menu-container {
  position: fixed;
  top: 180px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 320px;
  width: 100%;
  height: calc(100vh - 180px);
  padding: 1rem;
  background-color: #3ABEFF;
  color: #FFF;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 4px 8px #0000002f;
  z-index: 1000;

  .personal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .image-profile {
      width: 86px;
      height: 86px;
      border-radius: 100px;
      margin-top: -64px;
      margin-bottom: 1rem;
    }

    .name {
      font-weight: 600;
    }

    .email {
      font-size: 14px;
    }
  }


  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 2rem 0rem;
    list-style: none;

    .list.active {
      font-weight: bold;
      color: #3ABEFF;
      background-color: #FFF;
    }

    .list {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.685rem;
      gap: 1rem;
      border-radius: 14px;
      background-color: transparent;
      color: #FFF;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .exit {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.685rem;
    gap: 1rem;
    font-weight: 500;
    margin-top: -100px;
    cursor: pointer;
  }
}
