<div class="menu-container">
  <div>
    <div class="personal-info">
      <img
        src="https://github.com/caiohfreire.png"
        alt="image profile"
        class="image-profile"
      />

      <p class="name">Caio Freire</p>
      <p class="email">caio.freire&#64;icloud.com</p>
    </div>

    <div>
      <ul class="menu-items">
        <li class="list" routerLink="['/dashboard']" routerLinkActive="active" [ngClass]="{'active': isActive('/dashboard')}">
          <lucide-icon
            name="layout-dashboard"
            [color]="isActive('/dashboard') ? '#3ABEFF' : '#FFF'"
            size="28px"
            class="remove-lh"
          />
          Dashboard
        </li>
        <li class="list" routerLink="/vital-task" routerLinkActive="active">
          <lucide-icon
            name="activity"
            [color]="isActive('/vital-task') ? '#3ABEFF' : '#FFF'"
            size="28px"
            class="remove-lh"
          />
          Vital Task
        </li>
        <li class="list" routerLink="/my-task" routerLinkActive="active">
          <lucide-icon
            name="square-check-big"
            [color]="isActive('/my-task') ? '#3ABEFF' : '#FFF'"
            size="28px"
            class="remove-lh"
          />
          My Task
        </li>
        <li class="list" routerLink="/task-categories" routerLinkActive="active">
          <lucide-icon
            name="layout-list"
            [color]="isActive('/task-categories') ? '#3ABEFF' : '#FFF'"
            size="28px"
            class="remove-lh"
          />
          Task Categories
        </li>
        <li class="list" routerLink="/settings" routerLinkActive="active">
          <lucide-icon
            name="cog"
            [color]="isActive('/settings') ? '#3ABEFF' : '#FFF'"
            size="28px"
            class="remove-lh"
          />
          Settings
        </li>
        <li class="list" routerLink="/help" routerLinkActive="active">
          <lucide-icon
            name="life-buoy"
            [color]="isActive('/help') ? '#3ABEFF' : '#FFF'"
            size="28px"
            class="remove-lh"
          />
          Help
        </li>
      </ul>
    </div>
  </div>
  <span class="exit">
    <lucide-icon
      name="log-out"
      color="#fff"
      size="28px"
      class="remove-lh"
    />
    Logout
  </span>
</div>
