<div class="menu-container">
  <div>
    <div class="personal-info">
      <img
        src="https://github.com/caiohfreire.png"
        alt="image profile"
        class="image-profile"
      />

      <p class="name">Caio Freire</p>
      <p class="email">caio.freire@icloud.com</p>
    </div>

    <div>
      <ul class="menu-items">
        <li class="list">
          <lucide-icon
            name="layout-dashboard"
            color="#3ABEFF"
            size="28px"
            class="remove-lh"
          />
          Dashboard
        </li>
        <li class="list">
          <lucide-icon
            name="activity"
            color="#3ABEFF"
            size="28px"
            class="remove-lh"
          />
          Vital Task
        </li>
        <li class="list">
          <lucide-icon
            name="square-check-big"
            color="#3ABEFF"
            size="28px"
            class="remove-lh"
          />
          My Task
        </li>
        <li class="list">
          <lucide-icon
            name="layout-list"
            color="#3ABEFF"
            size="28px"
            class="remove-lh"
          />
          Task Categories
        </li>
        <li class="list">
          <lucide-icon
            name="cog"
            color="#3ABEFF"
            size="28px"
            class="remove-lh"
          />
          Settings
        </li>
        <li class="list">
          <lucide-icon
            name="life-buoy"
            color="#3ABEFF"
            size="28px"
            class="remove-lh"
          />
          Help
        </li>
      </ul>
    </div>

  </div>
  <span class="exit">
    <lucide-icon
      name="log-out"
      color="#fff"
      size="28px"
      class="remove-lh"
    />
    Logout
  </span>
</div>
